# ===== Datos =====
# Incluir data/raw (no se ignora nada ahí)
# Ignorar TODO lo generado en data/processed...
data/processed/**
# ...excepto el fichero de demo
!data/processed/disruptores_final.parquet

# ===== Entornos virtuales =====
tfm_env/
.venv/
venv/
env/

# ===== Cachés y basura habitual =====
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.log

